<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="<?PHP echo BOOT_PACH;?>/css/bootstrap.css">
    <!-- 可选的 Bootstrap 主题文件（一般不    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
用引入） -->
    <link rel="stylesheet" href="<?PHP echo BOOT_PACH;?>/css/bootstrap-theme.min.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="<?PHP echo JS_PACH;?>/jquery.js"></script>
    <script src="<?PHP echo BOOT_PACH;?>/js/bootstrap.js"></script>
    <!--<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">-->
</head>
<body>
<style>
    .input-group{
        margin-bottom: 30px;
    }
</style>