<?php include 'header.html';?>
<style>
    .input-group{
        margin-bottom: 30px;
    }
</style>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index.php/index/index">Brand</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="nav navbar-nav navbar-right">
                <a class="btn btn-danger btn-lg " href="/index.php/login/index" role="button">log in</a>
                <!--<a class="btn btn-danger btn-lg" href="/login/sign" role="button">Sign in</a>-->
            </div>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<script>
    $.post({
        url:'admin/index',
    })
</script>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title text-center">login</div>
        </div>
        <div class="panel-body">
            <form action="/index.php/login/check" method="post" class="text-center">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon glyphicon glyphicon-user" id="basic-addon1"></span>
                    <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" name="user">
                </div>

                <div class="input-group input-group-lg">
                    <span class="input-group-addon glyphicon glyphicon-pencil" id="basic-addon2"></span>
                    <input type="password" class="form-control" placeholder="Recipient's password" aria-describedby="basic-addon2" name="password">
                </div>

                <div class="btn-group input-group-lg">
                    <button type="submit" class="btn btn-primary btn-lg">submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


<?php include 'footer.html'?>